<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511307616505-efc89j2ruq39549rfnaubceompbt5nre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511307616505-efc89j2ruq39549rfnaubceompbt5nre</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Zfs0FU3Sc04N7JuyHHUpXDr_Kg5HuaY</string>
	<key>GCM_SENDER_ID</key>
	<string>511307616505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cascasm.recyclear</string>
	<key>PROJECT_ID</key>
	<string>recyclear20</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclear20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511307616505:ios:89e78b1b3d100efc889228</string>
	<key>DATABASE_URL</key>
	<string>https://recyclear20.firebaseio.com</string>
</dict>
</plist>